.crip-arr {
  &.right::after, &.up::after, &.down::after, &.left::before {
    content: "";
    display: inline-block;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    width: 0;
  }

  &.right::after, &.left::before {
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
    vertical-align: 0;
  }

  &.right::after {
    border-left: .3em solid;
  }

  &.left::before {
    border-right: .3em solid;
  }

  &.up::after, &.down::after {
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
  }

  &.up::after {
    border-bottom: .3em solid;
    border-top: 0;
  }

  &.down::after {
    border-bottom: 0;
    border-top: .3em solid;
  }
}
