// Customize vue-datetime control to see validation feedback.
.vdatetime.form-control {
  padding: 0;

  .vdatetime-input {
    background-color: $input-bg;
    border: none;
    color: $input-color;
    font-size: $font-size-base;
    height: 100%;
    line-height: $input-line-height;
    padding: $input-padding-y $input-padding-x;
    width: 100%;

    @if $enable-rounded {
      // Manually use the if/else instead of the mixin to account for iOS override
      border-radius: $input-border-radius;
    } @else {
      // Otherwise undo the iOS default
      border-radius: 0;
    }
  }
}
