// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Custom styles
@import "arrows";
@import "cards";

.panel-footer .pagination {
  margin: 0;
}

.crip-row {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}
