.el-form-item__content {
  .el-form-item__error {
    position: initial;
    left: initial;
    top: initial;
  }
}

.el-card {
  &__header .el-link-button {
    float: right;
    margin: -5px 0 -5px 8px;
  }

  &.tabs-card > .el-card__body {
    padding-top: 10px;
  }

  .el-date-editor.el-input,
  .el-date-editor.el-input__inner,
  .el-select {
    width: 100%;
  }
}
