@import "reset";
@import "variables";
@import "element-custom";

body {
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}
